<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--
        Path to the game executable. If not specified, Augmentrex will try to
        detect the executable path via Steam.
        -->
        <add key="gamePath" value="" />
        <!--
        Any command line arguments to pass to the game.
        -->
        <add key="gameArguments" value="-nokeyhooks" />
        <!--
        Timeout in milliseconds after which Augmentrex will consider the game
        process dead if the injected assembly has not sent a keep-alive message.
        -->
        <add key="ipcTimeout" value="5000" />
        <!--
        Interval in milliseconds between keep-alive messages sent by the
        injected assembly. Do not set this value too low or it will negatively
        impact game performance.
        -->
        <add key="ipcKeepAlive" value="500" />
        <!--
        Interval in milliseconds between cancellation checks in the debug
        listener.
        -->
        <add key="debugListenerInterval" value="250" />
        <!--
        A semicolon-separated list of commands to run at startup. For example,
        you can use this to run `patch-long-ray-vm` automatically.
        -->
        <add key="runCommands" value="" />
        <!--
        A comma-separated list of plugins that will not be loaded by the plugin
        manager.
        -->
        <add key="disabledPlugins" value="simple-test" />
    </appSettings>
</configuration>
